# =========================
# CORE LLM PROVIDER
# =========================
openai==2.30.0
# ollama - local
# =========================
# CORE API LAYER
# =========================
fastapi==0.111.0
uvicorn[standard]==0.30.1
starlette==0.37.2

# =========================
# CONFIG & VALIDATION
# =========================
pydantic==2.7.4
pydantic-settings==2.3.4
python-dotenv==1.0.1

# =========================
# HTTP CLIENT
# =========================
httpx==0.27.0

# =========================
# DATABASE
# =========================
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
alembic==1.13.2

# =========================
# REDIS
# =========================
redis==5.0.7
hiredis==2.3.2

# =========================
# LLM / ORCHESTRATION
# =========================
langchain==0.2.3
langchain-community==0.2.4
langgraph==0.1.6

# =========================
# RAG
# =========================
sentence-transformers==2.7.0
# faiss-cpu==1.8.0.post1
chromadb==1.5.5
numpy==1.26.4
scikit-learn==1.5.0

# =========================
# TEXT PROCESSING
# =========================
tiktoken==0.7.0
regex==2024.5.15

# =========================
# PERFORMANCE
# =========================
orjson==3.10.6

# =========================
# ASYNC / STREAMING
# =========================
anyio==4.4.0
aiofiles==23.2.1

# =========================
# SECURITY
# =========================
python-multipart==0.0.9
passlib[bcrypt]==1.7.4

# =========================
# LOGGING
# =========================
structlog==24.2.0

# =========================
# TESTING
# =========================
pytest==8.2.2
pytest-asyncio==0.23.7

# =========================
# DEV
# =========================
rich==13.7.1